{{define "head"}}
<style type="text/css">
div.masthead, div.mastfoot {
  background-color: #333;
}
div#about {
  text-align: left;
  padding-bottom: 100px;
}
h1 {
  margin-top: 130px;
}
</style>
{{end}}
{{define "body"}}
<div id="about">
  <h1>About</h1>
  <p>Shuflboard lets you try new games whenever you want.  Tell us what types of games you like and we'll start sending you ones we think you'll love.  Play them, return them, and we'll send you the next batch! Let us know if you liked the games and we'll keep honing our recommendations.</p>

  <p>If you try a game, you can keep it for a discounted price.</p>

  <h2>How it works:</h2>

  <ol>
    <li><a href="/signup">Sign up</a> for an account.  It's free!</li>
    <li>Once you have an account, <a href="/review">fill out our questionaire</a> to tell us what kinds of games you like.</li>
    <li>We'll compile a package of games that we think you'll enjoy and email you when it's ready to send.</li>
    <li>If you like the games we've selected, you don't have to do anything: they'll be shipped in 24 hours.  If you don't want to play them, just hit "Find alternative" and we'll send different games.</li>
    <li>Receive your games and try them out!</li>
    <li>Send back any you didn't like, keep any you do. (We include the return shipment box with pre-paid postage and a map of places near your mailing address where you can mail the package.)</li>
    <li>If you want, sign on and let us know what your thought of your shipment!</li>
  </ol>

  <b><a href="/signup">Sign up now!</a></b>

  <h2>Bored games?</h2>

  <p>If you have any games that are in good condition but you don't want anymore, you can send them to us in a return shipment for credit to your account (contact us first, to make sure we want them and get an estimate for how much we'll pay).  We'll make sure they find a loving home.</p>

  <h2>Who we are</h2>

  <p>We are four friends who love gaming and all thing nerd-related:</p>

  <dl>
    <dt>Wendy Dembowski</dt><dd>CEO, is an expert in machine learning and data analysis.</dd>
    <dt>Alek Dembowski</dt><dd>COO, is an expert in high-volume transactions and reporting.</dd>
    <dt>Andrew Cunningham</dt><dd>An expert in keeping systems running. Like the wordplay/puns on this page? This is the guy to blame.</dd>
    <dt>Kristina Chodorow</dt><dd>Focused on infrastructure, web, and marketing.</dd>
  </dl>

  <p>Or, as we call it, the Shuflboard of directors.</p>

  <p>To contact us, send an email to <a href="mailto:contact@shuflboard.com">contact@shuflboard.com</a>.</p>
</div>
{{end}}
